<!DOCTYPE html>
<html>
<head>
	<title>Unit 2 Signup</title>
</head>
<body>
	<form method = "post">
		<h1> Signup</h1>
		<div>
			Username
			<input type = "text" name = "username" value = "{{user_name}}">
			{{invalid_username}}
		</div>
		<div>
			Password
			<input type = "password" name = "password">
			{{invalid_password}}
		</div>
		<div>
		Verify Password
			<input type = "password" name = "verify">
			{{mismatch_password}}
		</div>
		<div>
			Email (optional)
			<input type = "text" name = "email" value = "{{email_address}}">
			{{invalid_email}}
		</div>

		<br>
		<input type = "submit">
	</form>
</body>
</html>